---
import Title from '@components/ui/Title.astro';
import MainLayout from '../layouts/MainLayout.astro';

const title = 'Mis Pokémons Favoritos';
---
<MainLayout title={title}>
  <Title>Mis Pokémons Favoritos</Title>
  <section
    aria-label="Listado de Pokémons"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5"
  >
    
  </section>
</MainLayout>
