---
import { FavoritesPokemos } from '@components/pokemons/FavoritePokemons';
import Title from '@components/ui/Title.astro';
import MainLayout from '../layouts/MainLayout.astro';

const title = 'Mis Pokémons Favoritos';
---

<MainLayout title={title}>
  <FavoritesPokemos client:only='solid-js'>
    <Title>Mis Pokémons Favoritos</Title>
  </FavoritesPokemos>
</MainLayout>
